<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Background Remover</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="tool-body">

<div class="container">

  <h1>AI Background Remover</h1>
  <p>Upload image and remove background instantly</p>

  <input type="file" id="bgFileInput" accept="image/*" onchange="previewBgImage()">

  <div class="preview">
    <img id="bgPreviewImg" style="display:none;">
  </div>

  <button onclick="uploadBgImage()" id="bgBtn">Remove Background</button>

  <div class="loader" id="bgLoader" style="display:none;">
    Processing AI...
  </div>

  <div id="bgResult" style="display:none;">
    <h3>Result</h3>
    <img id="bgOutputImage">
    <br><br>
    <a id="bgDownloadLink" download="output.png">
      <button style="background:#16a34a;">Download</button>
    </a>
  </div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
